/* General Body Styles */
body {
    background: url('images/COVER2.png') no-repeat center center fixed; 
    background-size: cover; 
    font-family: 'Arial', sans-serif; 
    color: #ffffff; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Existing Header Styles */
.header-section {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(9, 0, 173, 0.7)); 
    padding: 15px 30px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#header-div {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    transition: all 0.3s ease;
}

.brand-title {
    font-size: 48px; 
    color: black; 
    margin-right: auto; 
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #ff00ff, 0 0 30px #ff00ff; 
    animation: glowing 1.5s infinite alternate; 
    font-family: 'Valencia', sans-serif; 
}

nav a {
    margin: 0 20px; 
    color: #00ffcc; 
    text-transform: uppercase; 
    border: 2px solid transparent; 
    padding: 10px; 
    transition: color 0.3s, border-color 0.3s; 
}

nav a:hover {
    color: #ff00ff; 
    border-color: #00ffcc; 
}
.glow-button {
    font-size: medium; 
    background-color: #5b24de; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    color: #ffffff; 
    transition: all 0.3s ease; 
    cursor: pointer; 
    text-shadow: 0 0 5px #f1f1f1; 
}

.glow-button:hover {
    background-color: #002aff; 
    color: #000000; 
    box-shadow: 0 0 10px #002aff, 0 0 20px #7085ed; 
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 10px darkblue, 0 0 20px blue, 0 0 30px #4000ffab; 
    }
    100% {
        text-shadow: 0 0 20px #4b19fe, 0 0 30px #4800ff, 0 0 40px #2567ff; 
    }
}

/* OST Section Styles */
.ost-container {
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 50px auto; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.section-title {
    text-align: center; 
    font-size: 36px; 
    margin-bottom: 20px; 
    color: #00b3ff; 
}

.ost-wrapper {
    display: flex; /* Use flexbox for horizontal layout */
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-around; /* Space out items evenly */
}

.ost-item {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for each item */
    border-radius: 10px; 
    padding: 15px; 
    margin: 10px; 
    text-align: center; 
    flex: 1 1 300px; /* Flex property for responsiveness */
    box-shadow: 0 0 10px #00b3ff; /* Shadow around items */
}

.ost-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.audio-player {
    width: 100%; 
    margin-top: 10px; 
}
